<h5>{{parentInfo['pharmacological_action'][0]}}</h5>
<div class="container-fluid shadow p-4 bg-white rounded text-monospace " style="margin-top: 10px">
    <div class="row">
        <div class="col-lg-6">
            <div >
                <canvas class="border border-primary" id="canvas"></canvas>
            </div>
        </div>
        <div class="col-lg-6">
            <br>
            <div class="row">
                    <span class="font-weight-bold bg-light">Common name(s):</span>
                    <span>&nbsp;{{parentInfo['common_name'][0]}}</span>
            </div>
            <div class="row">
                    <span class="font-weight-bold bg-light">CAS RN:</span>
                    <span>&nbsp;{{parentInfo['cas_number'][0]}}</span>
            </div>
            <div class="row">
                    <span class="font-weight-bold bg-light">Company ID:</span>
                    <span>&nbsp;{{parentInfo['company_id'][0]}}</span>
            </div>
        </div>
    </div>
</div>
    
      
          