<table class="table table-hover">
    <thead>
      <tr class="text-left" bgcolor=lightgray>
          <th>Molecula</th>
          <th>Species</th>
          <th>Route</th>
          <th>Sex</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of table_info.data; let i = index">
          <td><canvas #cmp id="{{'canvas_'+i}}" width="100" height="100"></canvas></td>
          <td>{{row.normalised_species}}</td>
          <td>{{row.normalised_administration_route}}</td>
          <td>{{row.normalised_sex }}</td>      
        </tr>
    </tbody>
  </table>
