<div>
  <span>
    <a class="button"><span (click)="toggleNav()">&#9776; Filters</span></a>
    <!-- <a class="button" href="#connect" routerLink="connect"> Connect </a> -->
    <a class="button" href="#plot" routerLink="plot"> Plot </a>
    <a class="button" href="#table" routerLink="table"> Table </a>
   <!-- <a class="button" href="#explore" routerLink="explore"> Explore </a>
    < a class="button" href="#browse" routerLink="browse"> Browse </a> -->
    <br>
    <br>
    <router-outlet></router-outlet>
  </span>
</div>