<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="globals.showError" style="text-align: center;vertical-align: middle;">
    <h3><strong>ERROR: </strong></h3><h4>{{this.globals.errorMsg}}</h4>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeError()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
    
<div class="container-fluid" [ngClass]="{ 'loading': globals.showSpinner }" *ngIf="!globals.showError">
    <div class="row">
        <div class="col-lg-4" *ngFor="let plot of objectKeys(plots)">
            <app-mono-plot 
                [datasets]=plots[plot].datasets
                [labels]=plots[plot].labels
                [chartType]=plots[plot].chartType
                [title]=plots[plot].title>
            </app-mono-plot>
            <br>
            <table class="table table-sm table-striped" style="font-size: 12px" align="center">
                <thead>
                    <tr>
                    <th scope="col" style="width:125px;">{{plot}}</th>
                    <th scope="col" style="width:75px; text-align: right">
                        <span *ngIf="plot=='Species'">
                            # Studies
                        </span>
                        <span *ngIf="plot=='Source' || plot=='Treatment'">
                            # Findings
                        </span>
                    </th>
                    </tr>
                </thead>
                <tbody>                    
                    <tr *ngFor="let data of plots[plot].datasets[0].data;let i=index ">
                        <td>{{plots[plot].labels[i]}}</td>
                        <td style="text-align: right">{{data}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>