.card-header {
    padding: 0px;
}

.card-body {
    padding: 10px;
}

.form-control-sm {
    width: 100%;
    border: 0px;
    background-color: whitesmoke;
}

.form-control-sm:disabled {
    background-color: gray;
}

.form-control {
    width: 100%;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#filterContainer {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#mySidebar{
    zoom: 0.85;
    -moz-transform: scale(0.85);
}


[data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 10px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg) ;
    transition: all linear 0.25s;

}   
[data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg) ;
}