<a id="filterContainer" href="javascript:void(0)" class="closebtn" (click)="closeNav()">
    &times;
</a>
<div id="mySidebar">
    <div id="" role="tablist">
        <div class="card">
            <div class="card-header" role="tab" id="StudyHeading">
                <button class="btn btn-link" data-toggle="collapse" data-target="#StudyCard" aria-expanded="true" aria-controls="StudyCard">
                    Study
                </button>             
            </div>
            <div id="StudyCard" class="collapse show" aria-labelledby="StudyHeading" data-parent="#FilterAccordion">
                <div class="card-body">
                    <p class="font-weight-bold">Species:</p>
                    <div>
                        <ngx-select-dropdown 
                            (change)="addSearchForm($event,'species')" 
                            [multiple]="true" 
                            [(value)]="this.search_form['species']" 
                            [config]="config_select" 
                            [options]="table_info['allOptions']['species']">
                        </ngx-select-dropdown>
                    </div>
                    <br>
                    <p class="font-weight-bold">Route:</p>
                    <div>
                        <ngx-select-dropdown 
                            (change)="addSearchForm($event,'routes')" 
                            [multiple]="true" 
                            [(value)]="this.search_form['routes']" 
                            [config]="config_select" 
                            [options]="table_info['allOptions']['routes']">
                        </ngx-select-dropdown>
                    </div>
                    <br>
                    <p class="font-weight-bold">Exposure period:</p>
                    <div>
                        <div class="form-group">
                            from 
                            <input class="form-control input-sm" 
                                [placeholder]="this.minExposure" 
                                [(ngModel)]="this.fromValue"
                                style="width: 80px; height: 25px; display: inline-block; padding-right: 0px" 
                                (change)="changeExposureFrom()"> 
                            to 
                            <input class="form-control input-sm" 
                                [placeholder]="this.maxExposure" 
                                [(ngModel)]='this.toValue'
                                style="width: 80px; height: 25px; display: inline-block; padding-right: 0px" 
                                (change)="changeExposureTo()">
                            days
                        </div>
                    </div>
                    <p class="font-weight-bold">Dose range</p>
                    <div>
                        <div class="form-group">
                            from 
                            <input class="form-control input-sm" 
                                [placeholder]="this.minDose" 
                                [(ngModel)]="this.minDoseValue"
                                style="width: 80px; height: 25px; display: inline-block; padding-right: 0px" 
                                (change)="changeDoseFrom()"> 
                            to 
                            <input class="form-control input-sm" 
                                [placeholder]="this.maxDose" 
                                [(ngModel)]='this.maxDoseValue'
                                style="width: 80px; height: 25px; display: inline-block; padding-right: 0px" 
                                (change)="changeDoseTo()">
                            mg/kg
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header" role="tab" id="FindingHeading">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#FindingCard" aria-expanded="true" aria-controls="FindingCard">
                    Finding
                </button>
            </div>
            <div id="FindingCard" class="collapse" aria-labelledby="FindingHeading" data-parent="#FilterAccordion">
                <div class="card-body">
                    <p class="font-weight-bold">Sex:</p>
                    <div class="form-inline">
                        <div class="custom-control custom-checkbox" *ngFor="let value of sex">
                            <input type="checkbox" class="custom-control-input" name="sex" 
                            id="{{value}}" (change)="addSearchCheckBox($event,'sex')" 
                            value={{value}}  [(ngModel)]="this[value]">
                            <label class="custom-control-label" for="{{value}}">
                                {{ value }}&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                        </div>
                    </div>
                    <br>
                    <div class="form-inline">
                        <br>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" 
                                id="treatmentRelated"  value="relevant" 
                                (click)="addSearchCheckBox($event,'treatmentRelated')" 
                                [(ngModel)]=relevant_form>
                            <label class="custom-control-label" for="treatmentRelated">
                                &nbsp;Treatment-related only
                            </label>
                        </div>                   
                    </div>
                    <br>
                    <p class="font-weight-bold">Category:</p>
                    <div class="form-inline">
                        <select class="custom-select" id="category" style="width:100%" 
                            (change)="selectCategory($event)">
                            <option disabled selected>-- select --</option>
                            <option *ngFor="let source of sources">{{source}}</option>
                        </select>
                    </div>
                    <br>

                    <p class="font-weight-bold" [hidden]="!(hasCategory && 
                    categoryOptions[selectedCategory]['parameters'].length > 1)">
                    Parameter:</p>
                    <div class="row" [hidden]="!(hasCategory && 
                    categoryOptions[selectedCategory]['parameters'].length > 1)">
                        <div class="col s12 l6">
                        <ngx-select-dropdown 
                            (change)="addCategory($event,'parameters')" 
                            [multiple]="true" 
                            [(value)]="this.categories_search_form[selectedCategory]['parameters']" 
                            [config]="config_select" 
                            [options]="categoryOptions[selectedCategory]['parameters']"
                            [hidden]="!hasCategory">
                        </ngx-select-dropdown>
                        </div>
                    </div>
                    <br>

                    <p class="font-weight-bold" [hidden]="!hasCategory">Observation:</p>
                    <div class="row">
                        <div class="col s12 l6">
                        <ngx-select-dropdown 
                            (change)="addCategory($event,'observations')" 
                            [multiple]="true" 
                            [(value)]="this.categories_search_form[selectedCategory]['observations']" 
                            [config]="config_select" 
                            [options]="categoryOptions[selectedCategory]['observations']"
                            [hidden]="!hasCategory">
                        </ngx-select-dropdown>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="card-header" role="tab" id="CompoundHeading">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#CompoundCard" aria-expanded="false" aria-controls="CompoundCard">
                    Compound
                </button>          
            </div>
            <div id="CompoundCard" class="collapse" aria-labelledby="CompoundHeading" data-parent="#FilterAccordion">
                <div class="card-body">
                    <p class="font-weight-bold">Name:</p>
                    <div>
                        <ngx-select-dropdown 
                            (change)="addSearchForm($event,'compound_name')" 
                            [multiple]="true" 
                            [(value)]="this.search_form['compound_name']" 
                            [config]="config_select" 
                            [options]="table_info['allOptions']['compound_name']">
                        </ngx-select-dropdown>
                    </div>
                    <br>
                    <p class="font-weight-bold">CAS number:</p>
                    <div>
                        <ngx-select-dropdown 
                            (change)="addSearchForm($event,'cas_number')" 
                            [multiple]="true" 
                            [(value)]="this.search_form['cas_number']" 
                            [config]="config_select" 
                            [options]="table_info['allOptions']['cas_number']">
                        </ngx-select-dropdown>
                    </div>
                    <br>
                </div>
            </div>
            <div class="card-header" role="tab" id="PharmacologyHeading"> 
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#PharmacologyCard" aria-expanded="true" aria-controls="PharmacologyCard">
                    Pharmacology
                </button>   
            </div>
            <div id="PharmacologyCard" class="collapse" aria-labelledby="PharmacologyHeading" data-parent="#FilterAccordion">
                <div class="card-body">
                    <p class="font-weight-bold">Pharmacological action:</p>
                    <div>
                        <ngx-select-dropdown 
                            (change)="addSearchForm($event,'pharmacological_action')" 
                            [multiple]="true" 
                            [(value)]="this.search_form['pharmacological_action']" 
                            [config]="config_select" 
                            [options]="table_info['allOptions']['pharmacological_action']">
                        </ngx-select-dropdown>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div align="center"><font color="red"> {{ table_info.num_structures }} of {{totalStructures}} </font> substances </div>
            <progress id="structuresProgress" [value]="table_info['num_structures']*100/totalStructures" max="100" style="width: 100%"></progress>
            <div align="center"><font color="red"> {{ table_info.num_studies }} of {{totalStudies}} </font> studies </div>
            <progress id="studiesProgress" [value]="table_info['num_studies']*100/totalStudies" max="100" style="width: 100%"></progress>
            <div align="center"><font color="red"> {{ table_info.num_findings }} of {{totalFindings}} </font> findings </div>
            <progress id="studiesProgress" [value]="table_info['num_studies']*100/totalStudies" max="100" style="width: 100%"></progress>
        </div>
    </div>
    <br>
    <div align="center">
        <button type="button" class="btn" (click)="resetFilters()" style="background-color: lightgray"> Reset Filters </button>
    </div>
    <div align="center">
        <button type="button" class="btn" (click)="download()" style="background-color: lightgray"> Export </button>
    </div>
    <br>
</div>