<ul *ngFor="let specie of search_form['species']">
    <li>{{specie}}</li>
</ul>
<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
<br>



<div id="FilterAccordion" role="tablist">
    <div class="card">
        <div class="card-header" role="tab" id="CompoundHeading">
            <button class="btn btn-link" data-toggle="collapse" data-target="#CompoundCard" aria-expanded="true" aria-controls="CompoundCard">
                Compound
            </button>          
        </div>
        <div id="CompoundCard" class="collapse show" aria-labelledby="CompoundHeading" data-parent="#FilterAccordion">
            <div class="card-body">
                <button type="button" class="btn btn-link" (click)="openSketchModal()">Sketch</button>
                <br>
                <p class="font-weight-bold">Name:</p>
                <div class="form-inline">
                    <select class="form-control-sm" id="compound_name" 
                    (change)="addSearchSelect($event)">
                        <option disabled selected value> -- select -- </option>
                        <option *ngFor="let name of table_info['allOptions']['compound_name']">{{name}}</option>   
                    </select>
                </div>
                <app-panel [key]= "'compound_name'" ></app-panel>
                <br>
                <p class="font-weight-bold">CAS number:</p>
                <div class="form-inline">
                    <select class="form-control-sm" id="cas_number" 
                    (change)="addSearchSelect($event)">
                        <option disabled selected value> -- select -- </option>
                        <option *ngFor="let cas of table_info['allOptions']['cas_number']">{{cas}}</option>   
                    </select>
                </div>
                <app-panel [key]= "'cas_number'" ></app-panel>
                <br>
            </div>
        </div>






        <div class="card-header" role="tab" id="PharmacologyHeading"> 
            <button class="btn btn-link" data-toggle="collapse" data-target="#PharmacologyCard" aria-expanded="true" aria-controls="PharmacologyCard">
                Pharmacology
            </button>   
        </div>
        <div id="PharmacologyCard" class="collapse show" aria-labelledby="PharmacologyHeading" data-parent="#FilterAccordion">
            <div class="card-body">
                <p class="font-weight-bold">Pharmacological action:</p>
                <div class="form-inline">
                    <select class="form-control-sm" id="pharmacological_action" 
                    (change)="addSearchSelect($event)">
                        <option disabled selected value> -- select -- </option>
                        <option *ngFor="let action of table_info['allOptions']['pharmacological_action']">{{action}}</option>   
                    </select>
                </div>
                <app-panel [key]= "'pharmacological_action'" ></app-panel>
                <br>
            </div>
        </div>




        <div class="card-header" role="tab" id="StudyHeading">            
            <button class="btn btn-link" data-toggle="collapse" data-target="#StudyCard" aria-expanded="true" aria-controls="StudyCard">
                Pharmacology
            </button>             
        </div>
        <div id="StudyCard" class="collapse show" aria-labelledby="StudyHeading" data-parent="#FilterAccordion">
            <div class="card-body">
                <p class="font-weight-bold">Species:</p>
                <div class="form-inline">
                    <select class="form-control-sm" id="species" 
                    (change)="addSearchSelect($event)">
                        <option disabled selected value> -- select -- </option>
                        <option *ngFor="let species of table_info['allOptions']['species']">{{species}}</option>   
                    </select>
                </div>
                <app-panel [key]= "'species'" ></app-panel>
                <br>
                <p class="font-weight-bold">Route:</p>
                <div class="form-inline">
                    <select class="form-control-sm" id="routes" 
                    (change)="addSearchSelect($event)">
                        <option disabled selected value> -- select -- </option>
                        <option *ngFor="let route of table_info['allOptions']['routes']">{{route}}</option>         
                    </select>
                </div>
                <app-panel 
                 
                [key]= "'routes'" ></app-panel>
                <br>
                <p class="font-weight-bold">Exposure period (days):</p>
                <div>
                    <ion-range-slider #sliderElement
                        type="double"
                        [min]="table_info['allOptions']['exposure_min']"
                        [max]="table_info['allOptions']['exposure_max']"
                        [from]="table_info['allOptions']['exposure_min']"
                        [to]="table_info['allOptions']['exposure_max']"
                        (onFinish)="addSliderInfo($event)">
                    </ion-range-slider>
                </div> 
            </div>
        </div>


     
        
        <div class="card-header" role="tab" id="FindingHeading">
            <button class="btn btn-link" data-toggle="collapse" data-target="#FindingCard" aria-expanded="true" aria-controls="FindingCard">
                    Finding
            </button>
        </div>
        <div id="FindingCard" class="collapse show" aria-labelledby="FindingHeading" data-parent="#FilterAccordion">
            <div class="card-body">
                <p class="font-weight-bold">Sex:</p>
                <div class="form-inline">
                    <label *ngFor="let value of sex">
                    <input  type="checkbox" id="sex" (change)="addSearchCheckBox($event)" value={{value}}  [(ngModel)]="this[value]">&nbsp;{{ value }}&nbsp;&nbsp;
                    </label>
                </div>
                <br>
                <div class="form-inline">
                    <br>
                    <input type="checkbox" id="treatmentRelated"  value="relevant" (click)="addSearchCheckBox($event)" [(ngModel)]=relevant_form>
                    &nbsp;Treatment-related only
                </div>
                <br>
                <p class="font-weight-bold">Category:</p>
                <div class="form-inline">
                    <select class="custom-select" id="category" 
                    (change)="selectCategory($event)">
                        <option disabled selected>-- select --</option>
                        <option *ngFor="let source of sources">{{source}}</option>
                    </select>
                </div>
                <br>
                <p class="font-weight-bold">Organs:</p>
                <div class="row">
                    <div class="col s12 l6">
                    <ngx-select-dropdown (change)="addCategory($event,'organs')" [multiple]="true" [(value)]="this.categoryOptionsSelected[selectedCategory]['organs']" [config]="config_select" [options]="categoryOptions[selectedCategory]['organs']" disable></ngx-select-dropdown>
                    </div>
                </div>
                <br>
                <p class="font-weight-bold">Observations:</p>
                <div class="row">
                    <div class="col s12 l6">
                    <ngx-select-dropdown (change)="addCategory($event,'observations')" [multiple]="true" [(value)]="this.categoryOptionsSelected[selectedCategory]['observations']" [config]="config_select" [options]="categoryOptions[selectedCategory]['observations']"></ngx-select-dropdown>
                    </div>
                </div>
                <div id="ShowFiltersAccordion">
                    <div class="card" [hidden]="!isCategoryFiltered('Histopathological')">
                        <div class="card-header" id="HistopathologicalHeading">
                            <h5>
                                <button class="btn btn-link" data-toggle="collapse" data-target="#Histopathological" aria-expanded="true" aria-controls="Histopathological">
                                Histopathological
                                </button>
                            </h5>
                        </div>
                        <div id="Histopathological" class="collapse show" aria-labelledby="HistopathologicalHeading" data-parent="#ShowFiltersAccordion">
                            <div class="card-body">
                                <app-panel [key]= "'organs'" [category]="selectedCategory"></app-panel>
                                <app-panel [key]= "'observations'" [category]="selectedCategory" ></app-panel>
                                <app-panel [key]= "'grade'" [category]="selectedCategory"></app-panel>
                            </div>
                        </div>
                    </div>
                    <div class="card" [hidden]="!isCategoryFiltered('Clinical signs')">
                        <div class="card-header" id="ClinicalSignsHeading">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#ClinicalSigns" aria-expanded="true" aria-controls="ClinicalSigns">
                                    Clinical signs
                                </button>
                            </h5>
                        </div>
                        <div id="ClinicalSigns" class="collapse show" aria-labelledby="ClinicalSignsHeading" data-parent="#ShowFiltersAccordion">
                            <div class="card-body">
                                <app-panel [key]= "'organs'" [category]="selectedCategory"></app-panel>
                                <app-panel [key]= "'observations'" [category]="selectedCategory"></app-panel>
                                <app-panel [key]= "'grade'" [category]="selectedCategory"></app-panel>
                            </div>
                        </div>
                    </div>
                    <div class="card" [hidden]="!isCategoryFiltered('Gross necropsy')">
                        <div class="card-header" id="GrossNecropsyHeading">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#GrossNecropsy" aria-expanded="true" aria-controls="GrossNecropsy">
                                        Gross necropsy
                                </button>
                            </h5>
                        </div>
                        <div id="GrossNecropsy" class="collapse show" aria-labelledby="GrossNecropsyHeading" data-parent="#ShowFiltersAccordion">
                            <div class="card-body">
                                <app-panel [key]= "'organs'" [category]="selectedCategory"></app-panel>
                                <app-panel 
                                 
                                [key]= "'observations'" 
                                [category]="selectedCategory"></app-panel>
                                <app-panel 
                                 
                                [key]= "'grade'" 
                                [category]="selectedCategory"></app-panel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <div align="center"><font color="red">{{ table_info.num_studies }}</font> studies</div>
        <progress id="studiesProgress" [value]="table_info['num_studies']*100/totalStudies" max="100" style="width: 100%"></progress>
        <div align="center"><font color="red">{{ table_info.num_structures }} </font> structures</div>
        <progress id="structuresProgress" [value]="table_info['num_structures']*100/totalStructures" max="100" style="width: 100%"></progress>
    </div>
</div>
<br>
<div align="center">
    <button type="button" class="btn" (click)="resetFilters()" style="background-color: lightgray"> Reset Filters </button>
</div>
<br>
<div align="center">
    <button type="button" class="btn" (click)="download()" style="background-color: lightgray"> Export </button>
</div>