.card-header {
    padding: 0px;
}

.card-body {
    padding: 10px;
}

.form-control-sm {
    width: 100%;
    border: 0px;
    background-color: whitesmoke;
}

.form-control-sm:disabled {
    background-color: gray;
}

.form-control {
    width: 100%;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }