<div class="container-fluid">
    <div class="row">
        <div class="col-3">
          <div class="row align-items-start">
              <div class="col">
                  <select class="custom-select btn-mini" [(ngModel)]="chartType">
                    <option *ngFor="let chart of charts" [value]="chart.id">
                        {{chart.name}}
                    </option>
                  </select>
              </div>
          </div>
        </div>
        <div class="col-12" style="width: 70%;"  *ngIf="datasets.length > 0" >
                <canvas baseChart #chart 
                [datasets]="datasets"
                [labels]="labels"
                [options]="options"
                [chartType]="chartType"
                [colors]="chartsColors"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>
    </div>
</div>
