/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
.theme-icon-close:before {
    content: 'X'
  }

body {
  /* Margin bottom by footer height */
  margin-bottom: 75px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: gray;
  text-align: center;
  /* Set the fixed height of the footer here */
  height: 75px;
}

.top-margin {
  margin-top: 15px;
}