/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
.theme-icon-close:before {
    content: 'X'
  }

body {
  margin-left: 25px;
  margin-right: 10px;
  font-size: 80%;
}

.top-margin {
  margin-top: 15px;
}