<div class="container-fluid">
    <div class ="row">
        <div class="col-md-2">     
        </div>
        <div class="col-md-10">
            <div align="center" style="font: italic bold 20px/50px Georgia, serif">
                <span style="color:red">{{ table_info.num_studies }}</span><span > studies and </span>
                <span style="color:red">{{ table_info.num_structures}}</span><span > structures </span>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" style="background-color:lightgray;">
            <br>
            <h5>Study-level filters</h5>
            Species:
            <div class="form-inline">
                <select class="form-control" id="species" (change)="addSearchSelect($event)">
                    <option disabled selected value> -- select -- </option>
                    <option *ngFor="let species of table_info['allOptions']['species']">{{species}}</option>   
                </select>
            </div>
            <app-panel [searchFormPanel] = search_form [key]= "'species'" ></app-panel>
            <br>
            Route:
            <div class="form-inline">
                <select class="form-control" id="routes" (change)="addSearchSelect($event)">
                    <option disabled selected value> -- select -- </option>
                    <option *ngFor="let route of table_info['allOptions']['routes']">{{route}}</option>         
                </select>
            </div>
            <app-panel [searchFormPanel] = search_form [key]= "'routes'" ></app-panel>
            <br>
            Exposure period (days):
            <!-- <span><input id="minRange" value="" style="width: 40px" onchange="addSliderInfoMin(this.value)"> - <input id="maxRange" value="" style="width: 40px"></span>
            <br> -->
            <div>
                <ion-range-slider #sliderElement
                    type="double"
                    [min]="table_info['allOptions']['exposure_min']"
                    [max]="table_info['allOptions']['exposure_max']"
                    [from]="table_info['allOptions']['exposure_min']"
                    [to]="table_info['allOptions']['exposure_max']"
                    (onFinish)="addSliderInfo($event)"
                    ></ion-range-slider>
            </div> 
            <hr>
            <h5>Finding-level filters</h5>
            Sex:
            <div class="form-inline">
                <label *ngFor="let value of sex">
                <input  type="checkbox" id="sex" (change)="addSearchCheckBox($event)" value={{value}}  [(ngModel)]="this[value]">&nbsp;{{ value }}&nbsp;&nbsp;
                </label>
            </div>
            <br>
            <div class="form-inline">
                <br>
                <input type="checkbox" id="treatmentRelated"  value="relevant" (click)="addSearchCheckBox($event)" [(ngModel)]=relevant_form>
                &nbsp;Treatment-related only
            </div>
            <hr>
            Category:
            <div class="form-inline">
                <select class="form-control" id="category" (change)="selectCategory($event)">
                    <option disabled selected>-- select --</option>
                    <option>Histopathological</option>
                    <option>Clinical signs</option>
                    <option>Gross necropsy</option>
                </select>
            </div>
            Organ:
            <div class="form-inline">
                <select class="form-control" id="organs" (change)="addSearchSelect($event)" [disabled]="!hasCategory">
                    <option disabled selected value> -- select -- </option>
                    <option *ngFor="let organ of table_info['allOptions']['organs']">{{organ}}</option>
                </select>
            </div>
            <app-panel [searchFormPanel] = search_form [key]= "'organs'" ></app-panel>
            Observation:
            <div class="form-inline">
                <select class="form-control" id="observations" (change)="addSearchSelect($event)" [disabled]="!hasCategory">
                    <option disabled selected value> -- select -- </option>
                    <option *ngFor="let observation of table_info['allOptions']['observations']">{{observation}}</option>
                </select>
            </div>
            <app-panel [searchFormPanel] = search_form [key]= "'observations'" ></app-panel>
            Grade:
            <div class="form-inline">
                <select class="form-control" id="grade" (change)="addSearchSelect($event)" [disabled]="!hasCategory">
                    <option disabled selected value> -- select -- </option>
                    <option *ngFor="let grade of table_info['allOptions']['grde']">{{grade}}</option>
                </select>
            </div>
            <app-panel [searchFormPanel] = search_form [key]= "'observations'" ></app-panel>
            <hr>
            <div align="center">
                <button type="button" class="btn" (click)="resetFilters()"> Reset Filters </button>
            </div>
            <br>
            <div align="center">
                <button type="button" class="btn" (click)="download()"> Export </button>
            </div>
            <br>
        </div>
        <div class="col-md-10">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#info" role="tab" data-toggle="tab"> Info </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#qualitative" role="tab" data-toggle="tab"> Qualitative </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#quantitative" role="tab" data-toggle="tab"> Quantitative </a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active show" id="info">
                   <app-table [searchFormTable] = search_form></app-table>
                   
                </div>
                <div role="tabpanel" class="tab-pane fade" id="qualitative">
                    <app-qualitative-table></app-qualitative-table>
                    
                </div>
                <div role="tabpanel" class="tab-pane fade" id="quantitative">
                  <app-quantitative-table></app-quantitative-table>
                  
                </div>
             </div>
            <!--  -->
        </div>
    </div>
</div>



      
     