.btn {
    background-color: whitesmoke;
}

.form-control {
    width: 100%;
}

[data-toggle="collapse"] .fa:before {  
    content: "\f139";
  }
  
[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
  }
  