.form-control-sm {
    width: 100%;
    border: 0px;
}
.form-control-sm:disabled {
    background-color: lightgray;
}

.form-control {
    width: 100%;
}

[data-toggle="collapse"] .fa:before {  
    content: "\f139";
  }
  
[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}
  
.card-header {
    padding: 0px;
}

.card-body {
    padding: 5px;
}
