<div class="container-fluid">
    <div class ="row">
        <div class="col-md-2 offset-md-1">     
        </div>
        <div class="col-md-8">
                <div align="center" style="font: italic bold 20px/50px Georgia, serif">
                    <span style="color:red">{{ table_info.num_studies }}</span><span > studies and </span>
                    <span style="color:red">{{ table_info.num_structures}}</span><span > structures </span>
                    
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 offset-md-1" style="background-color:lightgray;">
            <br>
            Exposure period (days):
            <!-- <span><input id="minRange" value="" style="width: 40px" onchange="addSliderInfoMin(this.value)"> - <input id="maxRange" value="" style="width: 40px"></span>
            <br> -->
            <div>
                <ion-range-slider #sliderElement
                    type="double"
                    min="1" 
                    max="100"
                    from="1"
                    to="100"
                    (onFinish)="addSliderInfo($event)"></ion-range-slider>
            </div>
            Sex:
            <div class="form-inline">
                <label *ngFor="let value of sex">
                &nbsp;&nbsp;<input  type="checkbox" id="sex" (change)="addSearchCheckBox($event)" value={{value}}  [(ngModel)]="this[value]">&nbsp;{{ value }}
                </label>
            </div>
            Route:
            <div class="form-inline">
                <select class="form-control" id="routes" (change)="addSearchSelect($event)">
                        <option disabled selected value> -- select an option -- </option>
                        <option *ngFor="let route of routes">{{route}}</option>         
                </select>
            </div>
            <app-panel [searchFormPanel] = search_form [key]= "'routes'" ></app-panel>
            Species:
            <div class="form-inline">
                <select class="form-control" id="species" (change)="addSearchSelect($event)">
                    <option disabled selected value> -- select an option -- </option>
                    <option *ngFor="let specie of species">{{specie}}</option>   
                </select>
            </div>
            <app-panel [searchFormPanel] = search_form [key]= "'species'" ></app-panel>
            Strain:
            <div class="form-inline">
                <select class="form-control" id="strain" (change)="addSearchSelect($event)" disabled>
                    <option disabled selected value> -- select an option -- </option>
                </select>
            </div>
            <app-panel [searchFormPanel] = search_form [key]= "'strain'" ></app-panel>
            Organ:
            <div class="form-inline">
                <select class="form-control" id="organs" (change)="addSearchSelect($event)">
                    <option disabled selected value> -- select an option -- </option>
                    <option *ngFor="let organ of organs">{{organ}}</option>
                </select>
            </div>
            <app-panel [searchFormPanel] = search_form [key]= "'organs'" ></app-panel>
            Observation:
            <div class="form-inline">
                <select class="form-control" id="observations" (change)="addSearchSelect($event)">
                    <option disabled selected value> -- select an option -- </option>
                    <option *ngFor="let observation of observations">{{observation}}</option>
                </select>
            </div>
            <app-panel [searchFormPanel] = search_form [key]= "'observations'" ></app-panel>
            <br>
            <div class="form-inline">
                <br>
                <input type="checkbox" id="treatmentRelated"  value="relevant" (click)="addSearchCheckBox($event)" [(ngModel)]=relevant_form>
                &nbsp;Treatment-related only
            </div>
            <br><br>
            <div align="center">
                <button type="button" class="btn" (click)="resetFilters()"> Reset Filters </button>
            </div>
            <br>
            <div align="center">
                <button type="button" class="btn" (click)="download()"> Export </button>
            </div>
            <br>
        </div>
        <div class="col-md-8">
            <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"> Info </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"> Qualitative </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#references" role="tab" data-toggle="tab"> Quantitative </a>
                    </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="profile">
                    <app-table [searchFormTable] = search_form></app-table> 
                </div>
                <div role="tabpanel" class="tab-pane fade" id="buzz">
                    <app-qualitative-table></app-qualitative-table> 

                </div>
                <div role="tabpanel" class="tab-pane fade" id="references">
                    <app-quantitative-table></app-quantitative-table> 
                </div>
             </div>
            <!--  -->
        </div>
    </div>
</div>



      
     