
<div *ngIf="categoryForm; else regularPanel">
    <div *ngFor="let category of objectKeys(categories_search_form)">
        <div *ngFor="let value of categories_search_form[category][key]">
            <span>
                <button class = "close" (click)="removeThis(key,value,category)">x</button>
                &nbsp;{{category}} | {{ value }}
            </span>       
        </div>       
    </div>
</div>

<ng-template #regularPanel>
    <ul *ngIf="search_form[key]">
        <li *ngFor="let value of search_form[key]">
            <span>
                <button class = "close" (click)="removeThis(key,value,category)">x</button>
                &nbsp;{{ value }}
            </span> 
        </li>
    </ul>
</ng-template>