<div class=".container-fluid row" style="border: 1px solid red; padding: 10px;">
    <div class="col-lg-2" style="border: 1px solid green; padding: 10px;" *ngFor="let key of objectKeys(searchFormPanel)">
        <div class='divlabel'><b>{{key|capitalize}}</b></div>
        <button class = 'x' (click)="removeThis(key,None)">X</button>
        <div class="chip" *ngFor="let value of searchFormPanel[key]">
            {{value}}       
            <span class="closebtn" (click)="removeThis(key,value)">&times;</span>  
        </div>
    <div>
</div>
