.close {
    padding-left: 10px;
    color: rgb(114, 114, 114);
    float: left;
    font-size: 125%;
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

ul li {
    font-size: 85%;
}